
.centered {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    font-weight: normal;
    
}
h2 {
    margin-top: 0px;
    font-weight: normal;
}

#title {
    font-size: 2rem;
}

#subtitle {
    font-size: 1.5rem;
}

div {
    background-color: gray;
}

li {
    list-style-type: none;
}

#content {
    text-decoration: underline;
}

.monospaced {
    font-family: monospace;
    
}

